// FOOTER :: START
footer.footer
  .container
    .footer__top
      .footer__socials
        .footer__socials-col
          a(href="#" target="_blank")
            +icon('ico-social-linkedin')
        .footer__socials-col
          a(href="#" target="_blank")
            +icon('ico-social-facebook')
        .footer__socials-col
          a(href="#" target="_blank")
            +icon('ico-social-vk')
        // row
        .footer__socials-col
          a(href="#" target="_blank")
            +icon('ico-social-slack')
        .footer__socials-col
          a(href="#" target="_blank")
            +icon('ico-social-google-plus')
        .footer__socials-col
          a(href="#" target="_blank")
            +icon('ico-social-twitter')
            
      .footer__contacts
        a(href="#" target="_blank").footer__contact
          +icon('ico-social-telegram')
          span Вступайте в сообщество
        a(href="mailto:hello@srg.io").footer__contact
          +icon('ico-social-mail')
          span hello@srg.io
              
  
    // bottom
    .footer__bottom
      .footer__copy
        i.icon.icon-logo
        span.footer__site-name Программа лояльности <br>онлайн игр
        
      a(href="#" target="_blank").footer__presentation
        i.icon.icon-presentation
        span Download presentation
          
        
  .footer-bg
    .footer-bg__wrapper
      .footer-bg__earth
        img(src='../img/earth.svg', alt='')
      .footer-bg__circle1
        img(src='../img/circle-1.svg', alt='')
      .footer-bg__circle2
        img(src='../img/circle-2.svg', alt='')
      .footer-bg__circle3
        img(src='../img/circle-3.svg', alt='')

// FOOTER :: END
