// HEADER :: START
header.header
  .container
    .header__wrapper
      a(href="#").header__logo
        i.icon.icon-logo
      ul.header__menu
        li
          a(href="#") Концепция
        li
          a(href="#") Преимущества
        li
          a(href="#") Экосистема
        li
          a(href="#") Блокчейн
        li
          a(href="#") Новости
          
      .header__cta
        a(href="#").btn.btn-glow
          span Войти
        a(href="#").header__lang En

      
      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner
        
// HEADER :: END
