// HEADER :: START
header.header
  .container
    .header__wrapper
      a(href="#").header__logo
        i.icon.icon-logo
      ul.header__menu(js-teleport data-teleport-to="mobile-navi" data-teleport-condition="<992")
        li
          a(js-scroll-to data-target="#about") Концепция
        li
          a(js-scroll-to data-target="#benefits") Преимущества
        li
          a(js-scroll-to data-target="#ecosystem") Экосистема
        li
          a(href="#") Блокчейн
        li
          a(href="#") Новости
          
      .header__cta(js-teleport data-teleport-to="mobile-cta" data-teleport-condition="<992")
        a(href="#").btn.btn-glow
          span Войти
        a(href="#").header__lang En

      
      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner
        
// HEADER :: END

.mobile-navi
  .container
    .mobile-navi__wrapper
      ul.mobile-navi__menu(data-teleport-target="mobile-navi")
        // contents to be teleported
      .mobile-navi__cta(data-teleport-target="mobile-cta")
        // contents to be teleported
