---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content
  
  // HERO :: START
  .hero
    .container
      .hero__wrapper
        .hero__background
          .hero__floating
            include ../inline-svg/hero-floating.svg
          .hero__oval
            img(src='img/hero-oval.png' srcset='img/hero-oval@2x.png 2x')
          .hero__remote
            .hero__remote-wrapper
              img(src='img/hero-remote.png' srcset='img/hero-remote@2x.png 2x')
              .hero__btn
                a(href="#").hero__join
                  .hero__join-bg
                    span Join
              
        .hero__contents
          h1.h1-title.wow Play & Earn
          .t1-paragraph.wow Децентрализованная программа лояльности<br>для онлайн-приложений, построенная на<br>технологии blockchain. 
      
      .scroll-down(js-scroll-to data-target="#about").wow
        +icon('ico-down-arrow')
  
  
  // ABOUT :: START
  .about#about
    .container
      .about__wrapper
        .about__contents
          h1.h1-title.wow О проекте
          .t1-paragraph.wow Основное отличие SRG от других игровых платформ (Steam, Origin, GOG и др.) заключается в наличии мотивационных и многоуровневых реферальных программ, в рамках которых игроки смогут зарабатывать на игровых и социальных активностях, а также на чужих платежах в играх. Благодаря SRG community разработчики сократят маркетинговые расходы и также смогут получить дополнительный доход от реферальных платежей в других играх платформы
          a(href="#" target="_blank").about__presentation.wow
            i.icon.icon-presentation
            span Download <br>presentation
        .about__image.wow
          img(src='img/devices.png' srcset='img/devices@2x.png 2x')
          
  
  // BENEFITS :: START
  .benefits#benefits
    .container
      .benefits__wrapper
        .benefits__left
          .h3-title Преимущества<br>для игроков
          .benefit-card
            .benefit-card__counter 1
            .benefit-card__icon
              i.icon.icon-benefit-person
            .benefit-card__name Персональные 5-уровневые реферальные программы
          // card
          .benefit-card
            .benefit-card__counter 2
            .benefit-card__icon
              i.icon.icon-benefit-card
            .benefit-card__name Возможность зарабатывать на личных и совместных игровых достижениях
          //card
          .benefit-card
            .benefit-card__counter 3
            .benefit-card__icon
              i.icon.icon-benefit-coin
            .benefit-card__name Монетизировать время
          //card
          .benefit-card
            .benefit-card__counter 4
            .benefit-card__icon
              i.icon.icon-benefit-joystick
            .benefit-card__name Возможность создавать и монетизировать игровой контент

        .benefits__center
          .benefits__cube
            img(src='img/cube.png' srcset='img/cube@2x.png 2x')
          
        .benefits__right
          .h3-title Преимущества<br>для разработчиков
          //card
          .benefit-card
            .benefit-card__counter I
            .benefit-card__icon
              i.icon.icon-benefit-person-plus
            .benefit-card__name Получение целевой (в том числе генерирующей контент) аудитории на старте проекта
          // card
          .benefit-card
            .benefit-card__counter II
            .benefit-card__icon
              i.icon.icon-benefit-chart
            .benefit-card__name Доступ к специализированной игровой статистике
          //card
          .benefit-card
            .benefit-card__counter III
            .benefit-card__icon
              i.icon.icon-benefit-like
            .benefit-card__name Удобный и понятный сервис ротации трафика по любым играм платформы
          //card
          .benefit-card
            .benefit-card__counter IV
            .benefit-card__icon
              i.icon.icon-benefit-arrows
            .benefit-card__name Простой механизм привлечения внутреннего и внешнего трафика


  // ECOSYSTEM :: START
  .ecosystem#ecosystem
    .container
      .ecosystem__wrapper
        .h1-title Единая экосистема
        .ecosystem__image
          img(src='img/ecosystem.png' srcset='img/ecosystem@2x.png 2x')
        // tag
        .ecosystem__tag.ecosystem__tag--first
          .ecosystem__tag-icon
            i.icon.icon-time
          .ecosystem__tag-name Получает бонусы за время, проведенное в игре
        // tag
        .ecosystem__tag.ecosystem__tag--second
          .ecosystem__tag-icon
            i.icon.icon-card
          .ecosystem__tag-name Деньги конвертируются в GMP и попадают на счет игрока
  
  // DEVICES
  .devices#devices
    .devices__bg
      img(src='img/devices_bg-shapes.svg')
    .devices__bg-oval
      img(src='img/devices_bg-oval.svg')
    .container.container--wide
      .devices__wrapper
        .devices__slider
          .devices__slider-bg
            img(src='img/devices_bg-shapes2.svg')
          .swiper-container(js-swiper-devices)
            .swiper-wrapper
              .swiper-slide.devices__slide
                img(src='img/devices_mac.png' srcset='img/devices_mac@2x.png 2x')
              .swiper-slide.devices__slide
                img(src='img/devices_mac.png' srcset='img/devices_mac@2x.png 2x')
              .swiper-slide.devices__slide
                img(src='img/devices_mac.png' srcset='img/devices_mac@2x.png 2x')
              .swiper-slide.devices__slide
                img(src='img/devices_mac.png' srcset='img/devices_mac@2x.png 2x')
                          
        
        .devices__contents
          h1.h1-title SRG Blockchain
          .t1-paragraph Blockchain используемный для прозрачности отчетов а так же выпуска ликвидных токенов GMP. Blockchain используется во всех приложениях SRG company
          .devices__nav(js-swiper-devices-nav)
            .devices__nav-el.is-active(data-slide="1")
              span iOS
            .devices__nav-el(data-slide="2")
              span MacOS
            .devices__nav-el(data-slide="3")
              span Android
            .devices__nav-el(data-slide="4")
              span Windows

  //BACKGROUND LINES
  .background-lines__1
    .background-lines__wrapper
  .background-lines__2
    .background-lines__wrapper
  .background-lines__3
    .background-lines__wrapper
    
