.about
  position: relative
  z-index: 3
  padding: 80px 0
  &__bg
    position: absolute
    z-index: 1
    top: -60px
    left: 0
    right: 0
    width: 100%
    // will overlay the benefits section too
    // min-height: 2329px
    img
      width: 100%
  > .container
    position: relative
    z-index: 2
  &__wrapper
    position: relative
    z-index: 2
    display: flex
    margin-left: -30px
    margin-right: -30px
    padding-left: 60px

  &__contents
    flex: 0 1 55%
    max-width: 55%
    min-width: 1px
    padding: 0 30px
    .t1-paragraph
      color: rgba(white, .6)
      margin-top: 35px

  &__image
    flex: 0 1 45%
    margin-left: auto
    max-width: 45%
    min-width: 1px
    padding-left: 30px
    img
      max-width: 100%
      transform: translateX(30px)

  &__presentation
    margin-top: 40px
    margin-left: auto
    display: flex
    align-items: center
    span
      display: inline-block
      text-decoration: underline
      font-size: 16px
      line-height: 1.35
      margin-left: 25px
    &:hover
      span
        text-decoration: none

  &__floating
    position: absolute
    z-index: 1
    bottom: -45%
    right: -100px
    svg
      max-width: 100%
      overflow: visible

+r($desktop)
  .about
    &__wrapper
      flex-direction: column
      margin-left: 0
      margin-right: 0
    &__contents
      flex: 0 0 auto
      max-width: 500px
      padding: 0
    &__image
      margin-top: -90px
      flex: 0 0 auto
      margin-left: auto
      padding: 0
