.ecosystem
  position: relative
  z-index: 3
  padding: 200px 0
  &__wrapper
    position: relative

  &__image
    margin-top: 80px
    img
      max-width: 100%
  &__tag
    position: absolute
    max-width: 240px
    text-align: center
    &--first
      left: 22.8%
      bottom: 0%

    &--second
      max-width: 165px
      right: -.3%
      bottom: 14.5%

  &__tag-icon

  &__tag-name
    color: rgba(white, .75)
    line-height: 1.44
    margin-top: 10px
