// FOOTER
.footer
  position: relative
  z-index: 4
  // background: url('../img/footerBg.png') no-repeat center bottom
  color: white
  padding-bottom: 40px
  padding-top: 150px
  // margin-top: -00px
  > .container
    position: relative
    z-index: 2

  &__wrapper

  &__top
    display: flex

  &__socials
    flex: 0 1 460px
    display: flex
    flex-wrap: wrap
    max-width: 420px
    &-col
      flex: 0 1 33.3%
      max-width: 33.3%
      min-width: 1px
      min-height: 0
    a
      display: inline-block
      margin-bottom: 50px
      font-size: 0
      color: rgba(white, .9)
      transition: .25s $ease
      .ico
        font-size: 54px
      &:hover
        color: white

  &__contacts
    margin-left: auto
    display: flex
    flex-direction: column

  &__contact
    display: flex
    align-items: center
    margin-bottom: 50px
    color: rgba(white, .9)
    transition: .25s $ease
    .ico
      font-size: 54px
    span
      display: inline-block
      margin-left: 22px
      font-size: 14px
      color: rgba(white,.82)
      transition: .25s $ease

    &:hover
      color: white
      span
        color: white


  &__bottom
    position: relative
    display: flex
    align-items: center
    padding-top: 35px
    &::before
      display: inline-block
      content: ' '
      position: absolute
      top: 0
      left: 0
      right: 0
      height: 2px
      background: rgba(white, .6)

  &__copy
    display: flex
    align-items: center
    font-size: 0


  &__site-name
    display: inline-block
    margin-left: 25px
    font-size: 14px
    line-height: 1.35

  &__presentation
    margin-left: auto
    display: flex
    align-items: center
    span
      display: inline-block
      text-decoration: underline
      font-size: 16px
      margin-left: 25px

// earth animation
.footer-bg
  position: absolute
  left: 0
  right: 0
  bottom: 0
  z-index: 1
  font-size: 0
  display: flex
  flex-direction: column
  &__wrapper
    flex: 1 1 auto
    position: relative
    // background-color: #1f1f1f
    color: white
    padding-top: 65px
    padding-bottom: 65px
    height: 640px
    overflow: hidden
    &::after
      display: inline-block
      content: ''
      position: absolute 0
      z-index: 1
      background: rgba(#141315, .5)
  &__earth
    position: absolute
    bottom: 0
    z-index: 1
    left: 50%
    transform: translate(-50%, 0)
    img
      // width: 1402px
    // #path-1
    //   display: none
  &__circle1, &__circle2, &__circle3
    position: absolute
    transform: translate(-50%, 0)
    z-index: 2

  &__circle1
    top: 50%
    left: 50%
    animation: rotate 50s linear infinite
  &__circle2
    top: 55%
    left: 50%
    animation: rotate 45s linear infinite
  &__circle3
    top: 60%
    left: 50%
    animation: rotate 40s linear infinite

@keyframes rotate
  0%
    transform: translate(-50%, 0) rotate(0)
  100%
    transform: translate(-50%, 0) rotate(360deg)
