/* HEADER
.header
  position: absolute
  top: 0
  right: 0
  left: 0
  z-index: 9
  background: transparent
  &__wrapper
    display: flex
    align-items: center
    padding: 45px 0 0

  &__logo
    flex: 0 0 auto
    // padding-right: 0px
    font-size: 0
    transition: opacity .25s $ease

  &__menu
    flex: 0 1 auto
    display: flex
    align-items: center
    font-size: 16px
    margin: 0 auto
    padding: 0
    li
      display: inline-block
      margin-right: 25px
      &:last-child
        margin-right: 0
    a
      display: inline-block
      padding: 10px
      cursor: pointer
      transition: color .25s $ease
      &:hover
        color: $colorPrimary

  &__cta
    // margin-left: auto
    padding-left: 30px

  &__lang
    position: relative
    z-index: 2
    color: $colorPrimary
    font-size: 18px
    letter-spacing: 0.0165em
    text-transform: uppercase
    padding: 10px
    margin-left: 10px
    margin-right: -10px
    transition: .25s $ease
    &:hover
      color: white


  &__hamburger
    display: none
    padding-left: 20px


+r(1100)
  .header
    &__menu
      li
        margin-right: 15px
    &__cta
      padding-left: 10px


+r($desktop)
  .header
    &.is-menu-opened
      .header__logo
        opacity: 0
        pointer-events: none
    &__wrapper
      padding: 40px 0 0
    &__logo
      margin-left: auto
      margin-right: auto
      padding-left: 47px
    &__menu
      display: none
    &__cta
      display: none
    &__hamburger
      flex: 0 0 47px
      display: block

+r($tablet)
  .header
    &__menu
      display: none

+r($mobile)
  .header
    &__logo
      font-size: 30px
