.hero
  position: relative
  z-index: 1
  > .container
    position: relative
  &__wrapper
    display: flex
    margin-left: -30px
    margin-right: -30px
    min-height: 100vh
    padding: 150px 0 80px 0
  &__background
    position: relative
    z-index: 1
    flex: 1 1 auto
    // width: 100%
    padding-left: 30px
    min-height: 650px

  &__bg
    position: absolute
    z-index: 2
    top: -150px
    width: 1440px
    min-height: 1300px
    img
      // max-width: 100%

  &__contents
    position: relative
    z-index: 2
    flex: 0 0 auto
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0 30px
    transform: translateX(45px)

    .h1-title

    .t1-paragraph
      color: rgba(white, .6)
      margin-top: 30px

  // backgrounds

  &__floating
    position: absolute
    z-index: 4
    top: 50%
    left: -15%
    width: 180%
    transform: translateY(-50%)
    svg
      max-width: 100%
      overflow: visible
      .anim
        // more performance issues
        // animation-name: floatAnim
        // animation-duration: 5s
        // animation-timing-function: linear

  &__oval
    position: absolute
    z-index: 1
    left: -17%
    top: 60%
    transform: translateY(-50%)
    img, svg
      max-width: 100%

  &__remote
    position: absolute
    z-index: 5
    right: 15px
    top: 50%
    transform: translate(130px, -50%)
    &-wrapper
      position: relative
      font-size: 0
    img
      max-width: 100%
  &__btn
    position: absolute
    right: 27.5%
    bottom: 18.5%
  &__join
    display: inline-block
    position: relative
    cursor: pointer
    size: 68px
    &-bg
      position: relative
      z-index: 2
      background-image: linear-gradient(-90deg, #C2E5B8 0%, #71CBBE 100%)
      size: 68px
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      border-radius: 50%

    &::before, &::after
      display: inline-block
      content: ' '
      position: absolute
      z-index: 1
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      background-image: linear-gradient(-90deg, #C2E5B8 0%, #71CBBE 100%)
      border-radius: 50%
      opacity: .1
      animation-timing-function: ease
      animation-duration: 2s
      animation-iteration-count: infinite
    &::before
      size: 85px
      animation-name: heroJoinBefore
    &::after
      size: 102px
      animation-name: heroJoinAfter
    span
      position: relative
      z-index: 2
      font-weight: 700
      font-size: 17px
      text-transform: uppercase

@keyframes heroJoinBefore
  0%
    transform: translate(-50%,-50%) scale(1)
    opacity: .2
  100%
    transform: translate(-50%,-50%) scale(1.2)
    opacity: 0


@keyframes heroJoinAfter
  0%
    transform: translate(-50%,-50%) scale(1)
    opacity: .2
  100%
    transform: translate(-50%,-50%) scale(1.3)
    opacity: 0

@keyframes floatAnim
  0%
    transform: translate(0,0)
  25%
    transform: translate(30px, 10px)
  50%
    transform: translate(50px, 30px)
  100%
    transform: translate(0px, 0px)

+r($wide)
  .hero
    &__image
      &-bg
        transform: none
    &__contents
      transform: none

+r($desktop)
  .hero
    &__wrapper
      flex-direction: column-reverse
      margin-left: 0
      margin-right: 0px
      padding-bottom: 60px
    &__background
      max-width: 100%
      flex: 0 0 auto
      padding-left: 0
      min-height: 450px
    &__bg
      // left: auto !important
      // right: 0
      transform: rotate(-14deg)


    &__contents
      max-width: 100%
      flex: 0 0 auto
      text-align: center
      padding: 0 0 30px

    &__floating
      width: 100%

    &__oval
      max-width: 600px
    &__remote
      max-width: 470px
      right: auto
      left: 50px

      transform: translate(30px, -50%)

    &__join
      size: 49px
      &-bg
        size: 49px
      &::before
        size: 61px
      &::after
        size: 73px
      span
        font-size: 12px
