.scroll-down
  position: absolute
  z-index: 2
  bottom: 30px
  right: calc(60px - 24px)
  size: 48px
  background: white
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  .ico
    font-size: 6px
    transform: translateY(2px)
    color: $blackColor
