$sprite: (
	benefit-arrows: (
		offset-x: -279px,
		offset-y: 0px,
		width: 45px,
		height: 48px,
		total-width: 324px,
		total-height: 234px,
		image: '../img/sprite.png'
	),
	benefit-card: (
		offset-x: -127px,
		offset-y: -123px,
		width: 64px,
		height: 45px,
		total-width: 324px,
		total-height: 234px,
		image: '../img/sprite.png'
	),
	benefit-chart: (
		offset-x: -217px,
		offset-y: -128px,
		width: 49px,
		height: 50px,
		total-width: 324px,
		total-height: 234px,
		image: '../img/sprite.png'
	),
	benefit-coin: (
		offset-x: 0px,
		offset-y: -123px,
		width: 52px,
		height: 61px,
		total-width: 324px,
		total-height: 234px,
		image: '../img/sprite.png'
	),
	benefit-joystick: (
		offset-x: -144px,
		offset-y: 0px,
		width: 63px,
		height: 63px,
		total-width: 324px,
		total-height: 234px,
		image: '../img/sprite.png'
	),
	benefit-like: (
		offset-x: -62px,
		offset-y: -123px,
		width: 55px,
		height: 54px,
		total-width: 324px,
		total-height: 234px,
		image: '../img/sprite.png'
	),
	benefit-person-plus: (
		offset-x: -217px,
		offset-y: 0px,
		width: 52px,
		height: 57px,
		total-width: 324px,
		total-height: 234px,
		image: '../img/sprite.png'
	),
	benefit-person: (
		offset-x: -217px,
		offset-y: -67px,
		width: 51px,
		height: 51px,
		total-width: 324px,
		total-height: 234px,
		image: '../img/sprite.png'
	),
	logo: (
		offset-x: 0px,
		offset-y: -194px,
		width: 68px,
		height: 40px,
		total-width: 324px,
		total-height: 234px,
		image: '../img/sprite.png'
	),
	presentation: (
		offset-x: 0px,
		offset-y: 0px,
		width: 134px,
		height: 113px,
		total-width: 324px,
		total-height: 234px,
		image: '../img/sprite.png'
	),
	time: (
		offset-x: -279px,
		offset-y: -58px,
		width: 40px,
		height: 40px,
		total-width: 324px,
		total-height: 234px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-benefit-arrows {
		@include sprite(benefit-arrows)
	}
	.icon-benefit-card {
		@include sprite(benefit-card)
	}
	.icon-benefit-chart {
		@include sprite(benefit-chart)
	}
	.icon-benefit-coin {
		@include sprite(benefit-coin)
	}
	.icon-benefit-joystick {
		@include sprite(benefit-joystick)
	}
	.icon-benefit-like {
		@include sprite(benefit-like)
	}
	.icon-benefit-person-plus {
		@include sprite(benefit-person-plus)
	}
	.icon-benefit-person {
		@include sprite(benefit-person)
	}
	.icon-logo {
		@include sprite(logo)
	}
	.icon-presentation {
		@include sprite(presentation)
	}
	.icon-time {
		@include sprite(time)
	}
