.ico-down-arrow {
  width: 2em;
  height: 1em;
  fill: #181820;
}
.ico-logo {
  width: 1.7em;
  height: 1em;
  fill: none;
}
.ico-social-facebook {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-social-google-plus {
  width: 1.02em;
  height: 1em;
  fill: #FFF;
}
.ico-social-linkedin {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-social-mail {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-social-slack {
  width: 1.02em;
  height: 1em;
  fill: #FFF;
}
.ico-social-telegram {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-social-twitter {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-social-vk {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
